{% extends "base.html" %}

{% block content %}
    <h1>{{ username }}のページ</h1>
    <div id="timeline">
        <ul>
            {% for post in user_posts %}
                投稿者:<a href="{% url 'social:userpage' user_id=post.user.id %}" class="user">@{{ post.user.username }}</a>
                <li>{{ post.content }}</li>
                <a href="{% url 'post:index' %}"><button>♡</button></a>{{ post.like_count }}
                <a href="{% url 'post:index' %}"><button>💬</button></a>{{ post.comment_count }}
                <a href="{% url 'post:index' %}"><button>🔖</button></a>ブックマークボタン😼
                <li>投稿日時:{{ post.post_date }}</li>
                <p>-------------------------------</p>
            {% empty %}
                <li>投稿がありません。</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
